body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2 {
    font-family: 'Alegreya', serif;
}

.logo {
    width: 2em;
}

.quienes-somos {
    margin-top: 66%;    /* Como empleé un position-absolute en la sección anterior (header), tuve que utilizar un margin-top extenso para que esta sección no quedara cubierta por el carousel, pero al emplear la medida en porcentajes obtiene una exposición responsiva aceptable en caso de necesitarlo (afortunadamente esta sección debe desaparecer en dispositivos móviles) */
}

.icono {
    width: 2rem;
    fill: white;
    margin-left: 0.7em;
}

.card-img-top {
    height: 12rem;
}

.card-text {
    color: rgb(255, 255, 255);
}

/* Fuentes:
font-family: 'Alegreya', serif;
font-family: 'PT Sans', sans-serif; */